.filters.inline.form
  form.other-filters([formGroup]="sources")
    .source-filters
      .label SOURCES
      .radio.filter
        label Internal
        .checkbox
          input(type="checkbox" formControlName="internal" id="internal", (change)="refreshFilters()")
          label(for="internal")
      .radio.filter
        label External
        .checkbox
          input(type="checkbox" formControlName="external" id="internal", (change)="refreshFilters()")
          label(for="external")

    .flex-filler

  .search
    .sgm2.icon.input
      input([(ngModel)]="filter", (change)="refreshFilters()" placeholder="Search & filter")
      i.search.icon

router-outlet

.catalog-content
  a.button.create.new.catalogentry([routerLink]="['/kathra', 'catalog', 'new']")
    i.plus.icon
    | Create a new catalog entry

  .tabs
    .tab.apps.selected APPLICATIONS
    .splitter
    .disabled.tab.bundles BUNDLES
    .splitter
    .disabled.tab.platforms PLATFORMS

  .drawer.apps
    .filtered.view
      .content
        kathra-app(*ngFor="let catalogEntry of catalogEntriesFiltred", [appId]="catalogEntry.providerId", [catalogEntryPackage]="catalogEntry", (click)="loadDetails(catalogEntry)")

  .drawer.bundles(*ngIf="false")
  .drawer.platforms(*ngIf="false")

kathra-modal(id="app-details")
  .modal
    .modal-body
      .modal-closer((click)="modals.close('app-details')")
        i.large.remove.icon
      .modal-header
        .title {{ focusedCatalogEntry?.name }} - {{ focusedCatalogEntryPackageVersion?.version }}
      .catalog-item-content.container
        .infos.row
          .col.info
            img(*ngIf="focusedCatalogEntry && focusedCatalogEntry.icon", [src]="focusedCatalogEntry?.icon" onerror="this.style.display='none'")
            .buttons
              a.website(*ngIf="focusedCatalogEntryPackage && focusedCatalogEntryPackage.metadata && focusedCatalogEntryPackage.metadata.website", target="_blank" href="{{focusedCatalogEntryPackage?.metadata?.website}}")
                i.eye.icon
                .text Website
              a.doc(*ngIf="focusedCatalogEntryPackage && focusedCatalogEntryPackage.metadata && focusedCatalogEntryPackage.metadata.sourceUrl", target="_blank" href="{{focusedCatalogEntryPackage?.metadata?.sourceUrl}}")
                i.file.alternate.icon
                .text Source
              a.disabled.deploy
                i.cogs.icon
                .text Deploy
              select.versions((change)="loadCatalogEntryPackageVersion($event.target.value)")
                option(*ngFor="let v of focusedCatalogEntryPackage?.versions", [value]="v.version") {{ v.version }}

          .col.desc
            p {{ focusedCatalogEntry?.description }}
            ngx-md([data]="focusedCatalogEntryPackageVersion?.documentation")
        .row.row
          
  .modal-background
