.filters.inline.form
  form.other-filters([formGroup]="licence")
    .source-filters
      .label SOURCES
      .radio.filter
        label SystemX
        .checkbox
          input(type="checkbox" formControlName="irtsystemx" id="irtsystemx", (change)="refreshFilters()")
          label(for="irtsystemx")
      .radio.filter
        label Open Source
        .checkbox
          input(type="checkbox" formControlName="opensource" id="opensource", (change)="refreshFilters()")
          label(for="opensource")
      .radio.filter
        label Partners
        .checkbox
          input(type="checkbox" formControlName="partners" id="partners", (change)="refreshFilters()")
          label(for="partners")

    .flex-filler

    .categories.list((click)="toggleList('categories')")
      .title CATEGORIES
      i.large.angle.down.icon
      .categories.list.content
        .by-char(*ngFor="let catChar of appsCategoriesByChar(true) | asArray")
          .color.bubble([ngClass]="{small: catChar.value == null}")
            .text {{ catChar.key }}
          .category(*ngFor="let cat of catChar.value")
            .name {{ cat }}

    .teams.list.disabled
      .title TEAMS
      i.large.angle.down.icon
      .teams.list.content
        .by-char(*ngFor="let catChar of appsTeamsByChar(true) | asArray")
          .color.bubble([ngClass]="{small: catChar.value == null}")
            .text {{ catChar.key }}
          .category(*ngFor="let cat of catChar.value")
            .name {{ cat }}
  
  .multi-filter
    kathra-filter([filters]="[{values:appsCategories(false), prefix: 'cat'}, {values:teams, prefix: 'team'}]", [placeholder]="'Search & filter the catalog...'", (onFilteringOptsRefresh)="updateFilters($event)")

.catalog-content
  .tabs
    .tab.apps.selected APPLICATIONS
    .splitter
    .disabled.tab.bundles BUNDLES
    .splitter
    .disabled.tab.platforms PLATFORMS

  .drawer.apps
    .filtered.view.cats(*ngIf="displayMode == 'by-cat'")
      .category-by-char(*ngFor="let catChar of appsCategoriesByChar() | asArray")
        .color.bubble
          .text {{ catChar.key }}
        .category(*ngFor="let cat of catChar.value")
            .title
              .name {{ cat }}
            .content
              kathra-app(*ngFor="let catalogEntry of catalogEntries", [appId]="catalogEntry.providerId", [catalogEntryPackage]="catalogEntry", (click)="loadDetails(catalogEntry)")
  
  .drawer.bundles(*ngIf="false")
  .drawer.platforms(*ngIf="false")

kathra-modal(id="app-details")
  .modal
    .modal-body
      .modal-closer((click)="modals.close('app-details')")
        i.large.remove.icon
      .modal-header
        .title {{ focusedCatalogEntry?.name }} - {{ focusedCatalogEntryPackageVersion?.version }}
      .catalog-item-content
        .infos
          .col
            img([src]="focusedCatalogEntry?.icon")
            .buttons
              a.website(target="_blank" href="{{focusedCatalogEntryPackage?.url}}")
                i.eye.icon
                .text Website
              a.disabled.doc
                i.file.alternate.icon
                .text Documentation
              a.disabled.test
                i.cogs.icon
                .text Test
          .col.desc
            p {{ focusedCatalogEntry?.description }}
            p {{ focusedCatalogEntryPackageVersion?.documentation }}
          .col
            .buttons(*ngFor="let pckVersion of focusedCatalogEntryPackage?.versions")
              a.disabled.version(*ngIf="pckVersion.version == focusedCatalogEntryPackageVersion.version")
                i.icon
                .text {{ pckVersion.version }}
              a.version(*ngIf="pckVersion.version != focusedCatalogEntryPackageVersion.version", (click)="loadCatalogEntryPackageVersion(pckVersion)")
                i.icon
                .text {{ pckVersion.version }}
        .row 
          
  .modal-background